body{
    margin: 0;
    padding: 0;
}
.grid{
    display: flex;
    width: 906px;
    height: 160*3px;
    display: flex;
    flex-wrap: wrap;
}
.square{
    border: 2px solid black;
    width: 200px;
    height: 190px;
}
.mole{
    background-image: url(mole.jpg);
    background-repeat: repeat;
    background-size: cover;
}